# ––– [ COMMON PROPERTIES ] --------------------------------------------------------------------------------------------

JAVA_SDK_VERSION=11.0.8.hs-adpt
APP_DATABASE_PORT=5432
APP_DATABASE_BASE=listeneng
APP_DATABASE_USER=listeneng
APP_SECURITY_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_AWS_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_AWS_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_IBM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_IBM_API_URL=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# ––– [ DEV PROPERTIES ] -----------------------------------------------------------------------------------------------

APP_ENV=dev
APP_DOMAIN=listeneng.local
APP_DATABASE_HOST=localhost
APP_DATABASE_PASS=listeneng
APP_STORAGE=~/Desktop/listeneng

# ––– [ PROD PROPERTIES ] ----------------------------------------------------------------------------------------------

APP_ENV=prod
APP_DOMAIN=listeneng.ru
APP_DATABASE_HOST=database
APP_DATABASE_PASS=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
APP_STORAGE=/opt/listeneng
