html, body, #app, #index {
  min-height: 100%;
}

/* https://stackoverflow.com/a/4407335/5306599 */
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* https://stackoverflow.com/a/34635762/5306599 */
.not-focusable, .not-focusable:focus {
  outline: none;
  -moz-outline-style: none;
  box-shadow: 0 0 0 0 !important;
}

p {
  margin-bottom: 0;
}
